/* Body */
*{
    margin: 0;
    padding: 0;
}

/* Admin Header */
.navbar{
    margin: 0 60px 0 30px;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    left: 0px;
}
.dropdown-menu .fa{
    margin-right: 5px;
}
.dropdown-item:hover{
    color:#EA425C;
}

header{
    height: 80px;
}
.sidebar button{
    margin: 10px 80px;
    background-color: #f0f0f0;
    color: #44A08D;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}
.sidebar-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translateX(-290px);
    transition: all 0.3s ease 0s;
    width: 290px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 99999;
}
.open{
    transform: translateX(0);
}
.welc-admin{
    color:#44A08D;
}

.menu-title{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin: 30px 32px 0px;
    color: #EA425C;
}
.menu-title .fa{
    margin-left: 150px;
    cursor: pointer;
}

.menu li,
.arrow li{
    list-style-type: none;
}

.menu li a,
.arrow li{
    display: block;
    text-decoration: none;
    color:#7B7D7D;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}
.menu li a:hover{
    color: #EA425C;
}

/* Category, Product, Users, Contact */
.admin-category,
.edit-category,
.add-category,
.subcategory,
.edit-subcategory,
.add-subcategory,
.product,
.edit-product,
.add-product,
.users,
.contact,
.order{
    background: #EAEBF0;
}
.category-box,
.subcategory-box,
.product-box,
.users-box,
.contact-box,
.order-box{
    padding: 30px 30px 30px 40px;
}
.card{
    margin-left: 250px;
    margin-bottom: 30px;
}

.title{
    margin-left: 15px;
}

.status-btns{
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    margin-left: 15px;
}
.status-btns a{
    color: #fff;
    text-decoration: none;
}
/* Product Section */
.product .table td{
    padding: 15px 0;
}
.product .status-btns{
    padding: 5px 8px;
    margin-left: 3px;
    margin-bottom: 5px;
}
.product .status-btns a{
    font-size: 14px;
}
.product img{
    width: 40px;
    height: 40px;
}

.admin-btn{
    width: 818px;
    border: 0px;
    border-radius: 5px;
    background: #44A08D;
    color: #fff;
    line-height: 40px;
}

/* Order Section */
.order-detail-btn{
    background-color:#6A89CC;
}
.order img{
    width: 80px;
    height: 80px;
}

/* Colors */
.bg-green{
    background-color: #00c292;
}
.bg-brown{
    background-color: #fb9678;
}
.bg-blue{
    background-color: #33A2FF;
}
.bg-red{
    background-color: #FF0000;
}

